/* Home.css */
.home-container {
  padding: 2rem;
  text-align: center;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.home-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #333;
}

.home-container p {
  font-size: 1.2rem;
  color: #555;
  margin-bottom: 2rem;
}

.file-upload-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.custom-file-upload {
  padding: 0.75rem 1.5rem;
  background-color: hwb(310 49% 0%);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-file-upload:hover {
  background-color: hwb(310 21% 0%);
}

.file-upload-container button {
  padding: 0.75rem 1.5rem;
  background-color: hwb(310 49% 0%);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.file-upload-container button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.file-upload-container button:hover:not(:disabled) {
  background-color: hwb(310 21% 0%);
}

.analysis-result {
  margin-top: 2rem;
  padding: 1rem;
  background-color: #f1f1f1;
  border-radius: 8px;
  max-width: 600px;
  width: 100%;
}

.analysis-result h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
  color: #333;
}

.analysis-result p {
  font-size: 1rem;
  color: #555;
}
