.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  width: 100vw;
  max-width: 100vw;
  box-sizing: border-box;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: black;
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoLink {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: inherit;
  padding: 8px 16px;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.logoLink:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}

.logoLink svg {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.naiming {
  margin-left: 10px;
}

.naiming h1 {
  margin: 0;
  font-size: 1.5rem;
  color: black;
}

.naiming p {
  margin: 0;
  font-size: 0.9rem;
  color: black;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.nav ul li {
  margin-left: 20px;
}

.nav ul li a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 8px 16px;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.nav ul li a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}

.profile a {
  color: black;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
  padding: 8px 16px;
  border-radius: 20px;
  transition: background-color 0.3s, color 0.3s;
}

.profile a:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: black;
}

@media (max-width: 768px) {
  .header {
    padding: 15px;
    flex-wrap: wrap;
  }

  .logoLink {
    padding: 6px 12px;
  }

  .naiming h1 {
    font-size: 1.2rem;
  }

  .naiming p {
    font-size: 0.8rem;
  }

  .nav ul li {
    margin-left: 10px;
  }

  .nav ul li a {
    padding: 6px 12px;
    font-size: 1rem;
  }

  .profile a {
    padding: 6px 12px;
    font-size: 1rem;
  }
}
